<%- include('./partials/header.ejs') %>

<h1>New Product</h1>
<form action="/inv" method="post">
  Name: <input type="text" name="name" value=""> <br/>
  Status: <select name="status" value="">  
  <option value="Active">Active</option>
  <option value="Deleted">Deleted</option>
  </select> <br/>
  Quantity: <input type="text" name="qty"> <br/>

  <input type="submit" name="" value="Create Item">
</form>

<%- include('./partials/footer.ejs') %>
